@font-face {
    font-family: "font";
    src: url(../font/OverusedGrotesk-SemiBold.ttf);
}

.font{
    font-family: "font";
}

.title{
    font-size: 100px;
}


/* horario do dia */

.manha{
    background-color: rgb(121, 162, 189);
    color: white;
}
.tarde{
    background-color: #191919;
}

.noite{
    background-color: #363636;
    color: white;
}


/* btn */
.btn-enviar {
    background: none;
    border: solid 2px #dee2e6;
    color: #000000;
    padding: 10px; 
    border-radius: 5px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; 
}

.btn-enviar:hover {
    background-color: #c6c6c6;
    color: rgb(206, 206, 206);
}

.input{
    background-color: white;
    border-radius: 5px;
    border: solid 2px #dee2e6;
    padding: 5px;
    margin-right: 4px;
    width: 300px;
    font-family: 'font';
    transition: border 0.3s ease-in-out, color 0.3s ease-in-out; 
}

.input:focus {
    background-color: white;
    outline: none; 
    border-color: #2e2e2e;
}


.temp{
    font-size: 200px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'font';
    
}

.Local{
    font-size: 90px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'font';
}

.maincontainer{
    background-color: #191919;
}

#ShowClimate{
    border: 5px solid #545454;
    background-color: #4a4a4a;
    width: 60%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 30px;
    border-radius: 20px;
}

.btn-fechar{
    background-color:#ffffff;
    border: 2px solid #c44c4c;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
    padding: 5px;
}

.btn-fechar:hover{
    background-color:#d43e3e;
    border: 2px solid #dc5656;
    border-radius: 5px;
    color: white;
}

.format-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-edit{
    color: #191919;
    font-family: 'font';
}

.btn-github{
    background-color: rgb(59, 59, 59);
    border: none;
    border-radius: 5px;
    border: 2px solid rgb(107, 107, 107);
    cursor: pointer;
    transition: all .3s ease-in-out;
    color: white;
    font-size: 15px;
    padding: 10px; 
}

.btn-github:hover{
    background-color: rgb(107, 107, 107);
}

.btn-config{
    background-color: rgb(77, 119, 255);
    border: none;
    border-radius: 5px;
    border: 2px solid rgb(145, 171, 255);
    cursor: pointer;
    transition: all .3s ease-in-out;
    color: white;
    font-size: 15px;
    padding: 10px; 
}

.btn-config:hover{
    background-color: rgb(145, 171, 255);
}

.botaoicone{
    display: flex;
    align-items: center;
}