@font-face {
    font-family: "font";
    src: url(../font/OverusedGrotesk-SemiBold.ttf);
}


/* html */
::-webkit-scrollbar-thumb {
    background-color: #ffffff; 
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar {
    width: 5px;
}


html {
    scroll-behavior: smooth;
}

/* sections */

#MoreDetails{
    height: 600px;
}

 
#ShowMoreDetails{
    width: 90%;
    padding: 20px;
  
}



/* time */
.font{
    font-family: "font";
}

.title{
    font-size: 100px;
}

.noite{
    background-color: #000000;

}

/* Cor  */
.Green{
    color: #9acb5a;
}

.Yellow{
    color: rgb(252, 252, 38);
}

.Red{
    color: #f97a7a;
}

.Black{
    color: #660101;
}


/* input */
.input{
    background-color: rgb(33, 33, 33);
    border-radius: 5px;
    border: solid 2px #383838;
    padding: 5px;
    margin-right: 4px;
    width: 300px;
    font-family: 'font';
    transition: border 0.3s ease-in-out, color 0.3s ease-in-out; 
}

.input:focus {
    background-color: white;
    outline: none; 
    border-color: #2e2e2e;
}


.input-modal{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: solid 2px #d6d6d6;
    padding: 5px;
    margin-right: 4px;
    width: 300px;
    font-family: 'font';
    transition: border 0.3s ease-in-out, color 0.3s ease-in-out; 
}

.input-modal:focus {
    background-color: white;
    outline: none; 
    border-color: #2e2e2e;
}

/* main display */
.temp{
    font-size: 200px;
    color: #d6d6d6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'font';
    
}

.Local{
    font-size: 90px;
    color: #d6d6d6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'font';
}

.maincontainer{
    background-color: #191919;
}

#ShowClimate{
    border: 5px solid #3d3d3d;
    background-color: #111111;
    color: #c6c6c6;
    width: 60%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 30px;
    border-radius: 20px;
}

#ShowMoreDetails{
    border: 5px solid #3d3d3d;
    background-color: #111111;
    color: #ffffff;
    width: 60%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 30px;
    border-radius: 20px;
    margin-top: 20px;
    font-size: 30px;
    font-family: 'font';
}

/* modal */

.modal-edit{
    color: #191919;
    font-family: 'font';
}

/* btn */
.btn-github{
    background-color: rgb(59, 59, 59);
    border: none;
    border-radius: 5px;
    border: 2px solid rgb(107, 107, 107);
    cursor: pointer;
    transition: all .3s ease-in-out;
    color: white;
    font-size: 15px;
    padding: 10px; 
}

.btn-github:hover{
    background-color: rgb(107, 107, 107);
}

.btn-config{
    background-color: rgb(77, 119, 255);
    border: none;
    border-radius: 5px;
    border: 2px solid rgb(145, 171, 255);
    cursor: pointer;
    transition: all .3s ease-in-out;
    color: white;
    font-size: 15px;
    padding: 10px; 
}

.btn-config:hover{
    background-color: rgb(145, 171, 255);
}

.botaoicone{
    display: flex;
    align-items: center;
}

.btn-fechar{
    background-color:#ffffff;
    border: 2px solid #c44c4c;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
    padding: 5px;
}

.btn-fechar:hover{
    background-color:#d43e3e;
    border: 2px solid #dc5656;
    border-radius: 5px;
    color: white;
}


.btn-enviar {
    background: none;
    border: solid 2px #3b3b3b;
    color: #ffffff;
    padding: 10px; 
    border-radius: 5px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; 
}

.btn-enviar:hover {
    background-color: #252525;
    color: rgb(206, 206, 206);
}


.btn-modal{
    background: none;
    border: solid 2px #d6d6d6;
    color: #d3d3d3;
    padding: 10px; 
    border-radius: 5px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;   
}

.btn-modal:hover {
    background-color: #252525;
    color: rgb(206, 206, 206);
}

/* formatação de icone */
.format-icon{
    margin: 0 auto;
}

/* responsividade */


@media(max-width: 500px){
    #ShowClimate{
        width: 90%;
        padding: 20px;
      
    }
    
    .temp{
        font-size: 100px;
        color: #ffffff;
        
    }
    
    .Local{
        font-size: 40px;
    }

    .input-modal{
        width: 150px;
    }

    .input{
        width: 200px;

    }
}